body {
  background: #fff8f0;
  font-family: Arial;
  text-align: center;
  padding-top: 50px;
}
h1 {
  color: #d35400;
  font-size: 40px;
}
button {
  background: #d35400;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}
